<h1>GAME OF THRONES</h1>
<h1>HOUSES</h1>
<h3><%= link_to "(add a new house!)", new_house_path %></h3>

<% @houses.each do |house| %>
  <h2><%= link_to "#{house.name}", house_path(house) %></h2><br />
  <%= image_tag "#{house.sigel}" %>
  <h3>Members of House <%= house.name %></h3>
  <% house.characters.each do |character| %>
    <li><%= character.name %></li>
    <% end %>
<% end %>
